*~
*.o
*.so
*.lo
*.la
.deps
.libs
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
openwsman-yast.spec
stamp-h1
wsman_yast_config.h
wsman_yast_config.h.in
*.tar
*.gz
*.bz2
